<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened
      fixedInViewport="true" fixedTopGap="0">
      <a mat-list-item routerLink="/" class="logo">
        <img src="assets/imagens/logo.png" class="imagem" alt="">
      </a>
      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="/">
            <i class="material-icons">
                home
            </i>
            Início
        </a>
        <a mat-list-item routerLink="/">
            <i class="material-icons">
                home
            </i>
            Início
        </a>
        <a mat-list-item routerLink="/">
            <i class="material-icons">
                home
            </i>
            Início
        </a>
        <a mat-list-item routerLink="/">
            <i class="material-icons">
                home
            </i>
            Início
        </a>

      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


<!-- <mat-drawer-container class="container">
  <mat-drawer mode="side" opened>
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/">
          <i class="material-icons">
              home
          </i>
          Início
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container> -->
