
.text-list-music{
  color: #D7CCD6;
  font-weight: 900;
  line-height: 100%;
}
.text-top{
  line-height: 100%;
}
.colocacao{
  font-size: 3em;
}
.titulo{
  font-size: 2em;
}
.sub-titulo{
  font-size: 1em;
}

.container{
  width: 100%;
  display: flex;
}

.container-colocacao{
  display: flex;
  justify-content: flex-end;
}

.container-infos{
  flex-direction: column;
  justify-content: flex-start;
}


@media only screen and (max-width: 850px) {
  .container-infos{
    width: auto;
    flex-direction: column;
    justify-content: center;
  }
  .thumbnail{
    height: 100%;
  }
}
