<mat-toolbar style="height:7%; background-color: #0E000C;">
  <a (click)="drawer.toggle()" >
    <i class="material-icons">
        menu
    </i>
  </a>
</mat-toolbar>
<mat-drawer-container style="height: 93%;" hasBackdrop="true">
  <mat-drawer #drawer mode="push" class="sidenav" opened
      fixedInViewport="true" fixedTopGap="0">
      <a mat-list-item routerLink="/" class="logo">
        <img src="assets/imagens/logo.png" class="imagem" alt="">
      </a>
      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="/">
            <i class="material-icons">
                home
            </i>
            Início
        </a>
        <a mat-list-item routerLink="/">
            <i class="material-icons">
                email
            </i>
            Contato
        </a>
      </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content class="content">
      <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
